@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	box-sizing:border-box
} 

 body{
    /* background-color:#E5E5E5; */
    background-color:#FAFAFA;
}  



.topo {
    background: #EC362D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);    
   

    height: 69px;   
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}



.topo h1{
    color: #FFF;
    font-weight:bold;
    font-family: 'Roboto';
    font-size: 40px; 
    
} 

.escondido {
	display:none;
}