.escondido {
    display: none !important;
}

.tela3-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.tela3-1 > p{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 23px;
	line-height: 27px;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #000000;
}

.caixaPerguntas{
	height: 256px;
	width: 50%;
}

.caixaPerguntas ul{
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.caixaPerguntas ul li{
	width: 100%;
	height: 100%;
}

.caixaPerguntas ul input{
	width: 100%;
	height: 46px;
	border-radius: 10px;
	border-color: #6e6e6e28;
}

.prosseguir{
	width: 30%;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	background-color: #EC362D;
	margin-top: 100px;
}

.prosseguir p{
    display: flex;
    align-items: center;
    justify-content: center;
	color: #FFF5F4;
	font-family: 'Roboto';
}




.tela3-2{
    width: 100%;
    height: 1500px;
	margin: 0 auto;
}

.tela3-2 > p{
	display: flex;
	justify-content: center;
	font-family: 'Roboto';
	font-size: 23px;
	font-weight: 700;
	margin: 50px 0px 20px 0px;
}

.formulario{
	height: fit-content;
}

.pergunta1{
	width: 60%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	background-color: #ffffff;
	box-shadow: 0 0 2px rgb(184, 184, 184) ;

}

input{
	width: 90%;
	height: 46px;
	border: 1px solid;
	border-color: #c4c2c16b;
	margin:5px auto;
	border-radius: 5px;
}

::placeholder{
	font-family: 'Roboto';
	font-style: italic;
	padding-left: 15px;
	color: #BABABA;
	font-weight: 400;
}

.respostaErrada{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

h3{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 20px;
	margin: 20px 0px 5px 30px;
}

h4{
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 20px;
}

.pergunta2{
	display: flex;
	align-items: center;
	flex-direction: column;
	height: fit-content;
	width: 60%;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #FFFFFF;
	box-shadow: 0 0 2px rgb(184, 184, 184) ;
	position: relative;
}


.titulo{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 78px;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
}


.opcoesEscondidas {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.obrigatorio{
	width: 100%;
    display: flex;
    flex-direction: column;
}

.criarNiveis{
	margin: 0 auto;
	margin-bottom: 300px;
	width: 350px;
	height: 54px;
	border-radius: 15px;
	background-color: #EC362D;
	font-family: 'Roboto';
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
}

.criarNiveis p{
	font-family: 'Roboto';
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF5F4;
}

.tabelaNiveis{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.tela3-3 h4{
	margin-top: 100px;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.referenciaNiveis{
	margin: 0 auto;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 70%;
	position: relative;
	border-style: solid;
	border-width: 1px;
	border-color: #FFF5F4;
	box-shadow: 0 0 2px rgb(184, 184, 184);
	margin-bottom: 30px;
	padding-bottom: 20px;
}

.referenciaNiveis h4{
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.referenciaNiveis h4{
	display:flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
}

.finalizarQuizz{
	margin: 0 auto;
	margin-bottom: 300px;
	width: 350px;
	height: 54px;
	border-radius: 15px;
	background-color: #EC362D;
	font-family: 'Roboto';
	font-weight: 400;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tela3-4{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.tela3-4 p{
	font-family: 'Roboto';
	font-size: 21px;
	color: #818181;
	font-weight: 400;
	line-height: 25px;
	margin-top: 50px;
}

.botaoAcessar {
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EC362D;
	width: 220px;
	height: 44px;
	font-family: 'Roboto';
	font-size: 21px;
	color: #ffffff;
	font-weight: 400;
	line-height: 25px;
	border-radius: 10px;
}

.tela3-4 img{
	margin-top: 50px;
	width: 500px;
	height: 266px;
}